{{edit-comment comment=comment editComment="editComment" post=post}}
<p>{{ comment.utterance }}</p>
<h6>Posted by {{ comment.critic }}
<span class="pull-right">
<!-- <img class="comment-actions" src="/assets/images/edit.png" {{action 'editComment' comment}} > -->
<img class="comment-actions" src="/assets/images/delete.png" {{action 'deleteComment' comment}}>
</span></h6>
<hr>
