<div class="spacer">
</div>

<!-- Posts -->
<div class="well row" id="post-display">
  <div class="col-sm-8">
    <h2>{{post.title}}<br>
    <small>By {{post.author}}</small></h2>
    <p>{{post.body}}</p>
  </div>
  <div class="col-sm-4">
    <img class="img img-responsive" src={{post.image}} alt="An article by {{post.image}}" />
  </div>
</div>

<!-- Edit  -->


<!-- Create Comment  -->
{{new-comment saveComment="saveComment" post=post}}

<!-- Comment Tile  -->
<div class="well" id="comment-display">
  <h4><img src="/assets/images/comment.png"></h4>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment deleteComment="deleteComment" editComment="editComment" post=post}}
  {{/each}}
</div>
